$section-color: #1d213a;
$bgcolor: #151623;
$fontcolor: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgcolor;
}

p {
  color: $fontcolor;
}

h1 {
  color: $fontcolor;
}

.main-content-div {
  background-color: $section-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;

.weather-status-div{
  .min-max-div {
    display: flex;
    gap: 1.5em;
  }
  .weather-conditions{
    text-align: center;
  }

}

.weather-location-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  .location-div {
    display: flex;
    justify-content: center;
    align-items: center;
    .map-marker {
      max-width: 30%;
    }
  }

  .my-location {
    font-size: 1.5em;
  }

  .weather-condition-image {
    max-width: 30%;
  }
}



  .degrees {
    font-size: 2.5rem;
  }

}

.weather-prognose {
  background-color: $section-color;
  margin: 20px 20px 20px 20px;

  .day-prognose {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      max-width: 5%;
    }
  }

  .weather-condition-image {
    max-width: 10%;
  }
}

.todays-highlights {
  margin: 20px 20px 20px 20px;
  text-align: center;

  .highlights-headline {
    margin: 10px;
  }

  .highlights-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .wind {
    background-color: $section-color;
  }
  .humidity {
    background-color: $section-color;
  }

  .feels-like {
    background-color: $section-color;
  }

  .precipitation {
    background-color: $section-color;
  }

  .sunrise {
    background-color: $section-color;
  }

  .sunset {
    background-color: $section-color;
  }

  .moon-illumination {
    background-color: $section-color;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.searchbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;

  .searchbar {
    padding: 0.3em;
    border: none;
    border-radius: 8px;
    outline: none;
  }

  .search-icon {
    max-width: 10%;
    cursor: pointer;
  }

  ::placeholder {
    color: $section-color;
  }
}

@media only screen and (min-width: 1200px) {
  #content {
    display: flex;

    .main-content-div {
      height: 90vh;
      padding: 2em 2em 2em 2em;
      gap: 2em;
      font-size: 1.2rem;
      justify-content: space-around;

      .weather-location-div{
        .weather-condition-image{
          max-width: 100%;
        }
          .map-marker{
            max-width: 40%;
          }
      }
      .degrees{
        font-size: 4rem;
      }
    }
    #right-side{
      display: flex;
      margin: auto auto;
      gap: 3em;
      .weather-prognose{
        padding: 2em 2em;
        align-self: center;
      .day-prognose{
        justify-content: space-around;
        gap: 40px;
        img{
          max-width: 100%;
        }
        p{
          max-width: 10%;
          font-size: 1.2rem;
        }
      }
      }
        }
      .todays-highlights{
        font-size: 1.2rem;
        .highlights-grid{
          grid-template-columns: repeat(3, 1fr);
        }
        .wind, .humidity, .feels-like, .precipitation, .sunrise, .sunset{
          padding: 1em 1em;
        }
        .moon-illumination{
          grid-column-start: 1;
          grid-column-end: 4;
          padding: 1em 1em;
        }
      }
    }

}

